*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.body{
    display: flex;
    flex-direction: column;

    

}
header{
    /*LEMBRAR DE POR UMA IMAGEM DE NUVEM NO BACKGROUND*/
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    padding: 2rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.btnHeader{
    display: flex;
    gap: 10px 10px;
    background-color: transparent;
    }

.botoes{
  display: flex;
  color: #000;
  cursor: pointer;
  font-size: 1.3rem;
  text-decoration: none;  
}
.botoes:hover{
    text-decoration: underline;
    text-decoration-color: #c2e0f6;
    text-decoration-thickness: 3px;
    
    
}
.port{
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
}
.port:hover{
    text-decoration: underline;
    text-decoration-color: #c2e0f6;
    text-decoration-thickness: 3px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 200px;
    background-color: white;
}
.foto{
    width: 400px;
    height: 500px;
    background-color:  #c2e0f6;
    border-radius: 7px;
}

.sectionContent{
    font-size: 2.5rem;
    padding-right: 25rem;
    padding-top: 10rem;
}
.btnContact{
    width: 200px;
    padding: 10px;
    background-color: #c2e0f6;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-size: 2rem;
    color: #000;
}

@media(max-width:1505px){
    .sectionContent{
       width: 100px;
   }
   .itemContent{
       width: 250px;
       font-size: 2rem;
   }
}
@media(max-width:1260px){
    .itemContent{
        font-size: 2rem;
    }   
} 
@media(max-width:1028px){
    .foto{
        width: 100%;
    }
    .sectionContent{
        font-size: 1rem;
    }
}
@media(max-width:730px){
    .container{
        margin-top: 0;
    }
    .itemContent{
        margin-left: 60px      
    }
    .foto{
        margin-top: 25px;
        width: 80%;
    }   
}
@media(max-width:566px){
    header{
        flex-direction: column;
        align-items: center;
        justify-content: center;       
    }
    .port{
        padding-bottom: 15px;      
    }
    .foto{
        height: 300px;
        margin-left: 30px;
    }
    .itemContent{
       margin-left: 126px;
       font-size: 1.5rem;
    }
}
@media(max-width:425px){
    header{
        flex-direction: column;
        align-items: center;
        justify-content: center;          
    }
    .botoes{
        font-size: 1rem;

    }
    .port{
        padding-bottom: 15px;
            
    }
    .foto{
        height: 300px;
        margin-left: 30px;
    }
    .itemContent{
        margin-left: 126px;
        font-size: 1.5rem;
    }
}
@media(max-width:365px){
    .botoes{
        font-size: 0.9rem;

    }
    .port{
        font-size: 1rem;
        padding-bottom: 15px;
                
    }
    .foto{
    
        margin-left: 40px;
    }
    .itemContent{
        margin-left: 130px;
        
    }
    Header{
        margin-left: 45px;
       
    }  
}
